#avatar {
    float: right;
    max-height: 250px;
}

#contact_list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#contact_list li {
    display: inline-block;
    margin: 10px;
    transition: ease-out 0.3s;
}

#contact_list li:hover {
    transform: scale(1.5);
    margin: 10px;
}

#info-container {
    background-color: white;
    border: 2px solid red;
    color: black;
    height: 250px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 20px 0 black;
    overflow: hidden;
    transition: 0.3s ease-out;
}

#info-container:hover{
    box-shadow: 0 10px 20px 0 black;
}

#info-text {
    top: 0;
    left: 0;
}

#prog-langs-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
}
@media only screen and (max-width : 768px) {

    #info-container {
        justify-content: center;
        align-items: center;
        height: 175px;
    }

    #info-text {
        max-width: 80vw;
    }

    #avatar {
        display: none;
    }

}

.linkedin-icon {
    border-radius: 10px;
    background-color: lightblue;
    transition: ease-out 0.3s;
}

.linkedin-icon:hover {
    box-shadow: 0 5px 10px 0 black;
}

.x-icon {
    border-radius: 10px;
    transition: ease-out 0.3s;
    background-color: #08a0e9;
}

.x-icon:hover {
    box-shadow: 0 5px 10px 0 black;
}

#interests-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
}

@media only screen and (max-width: 1200px) {
    #interests-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 25px;
    }

    #prog-langs-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 25px;
    }
}

@media only screen and (max-width: 850px) {
    #interests-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
    }

    #prog-langs-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
    }
}

@media only screen and (max-width: 550px) {
    #interests-container {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    #prog-langs-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 25px;
    }

    #interests-image {
        margin-left: auto;
        margin-right: auto;
        height: 75%;
    }
}

.interests-card {
    background-color: white;
    border-radius: 10px;
    width: auto;
    height: 200px;
    box-shadow: 0 5px 10px 0 black;
    padding: 40px;
    transition: 0.3s ease-out;
}

.interests-card:hover {
    scale: 1.25;
    box-shadow: 0 20px 20px 0 black;
}

#interests-title {
    color: black;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#interests-image-container {
    height: 75%;
    padding: 10px;
}

#interests-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#interests-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 75%;
}

