:root {
    --accent-fg: #8fa;
    --important-fg: #88c0d0;
    --important-bg: none;
    --link: #ebcb8b;
    --body-bg: #2e3440;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik/Rubik-Regular.ttf"),
         url("../fonts/Rubik/Rubik-Italic.ttf"),
         url("../fonts/Rubik/Rubik-Bold.ttd");
}

* {
    font-family: "Rubik";
    margin: 5px;
}

.header {
    color: var(--accent-fg);
    font-size: 2.0em;
    margin: 10px;
    /* font-weight: bold; */
}

.header2 {
    color: var(--accent-fg);
    font-size: 1.1em;
    font-weight: bold;
    margin: 10px;
}

.important {
    color: var(--important-fg);
    background-color: var(--important-bg);
}

.separator {
    padding: 5px;
}

.navbar {
    padding: 0px;
    margin: 0px;
    display: block;
}

body {
    margin: 10px;
    padding: 10px;
    background-color: var(--body-bg);
    color: white;
    font-size: 14pt;
}

footer {
    margin: 0 auto;
    text-align: center;
    color: #4c566a;
    padding-top: 50px;
    max-width: 1000px;
}

a {
    color: var(--link);
    text-decoration: none !important;
    transition: color 0.3s;
}

/* a::before { */
/*     content: "["; */
/* } */

/* a::after { */
/*     content: "]"; */
/* } */

a:hover {
    color: orange;
}
