.custom-hr {
    width: auto;
    margin: 10px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 31%, rgba(0,212,255,1) 63%);
    height: 1px;
}

.git_img {
    margin: 0;
    padding: 0;
}


.git_img :hover {
    transform: scale(1.5);
    margin: 10px;
}

.project-card {
    background-color: #5e81ac;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#project-link {
    text-decoration: none;
    font-family: Rajdhani Semibold;
    color: black;
}

.project-card:hover {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.5);
}

.project-container {
}

#projects-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

/* remove margin on mobile phones */
@media only screen and (max-width: 599px) {
    #projects-grid-container {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    #projects-grid-container {
        grid-template-columns: 1fr 1fr;

    }
}
