body {
    margin: auto;
    width: 80%;
}

.navbar {
    margin: 20px;
    width: 100%;
    background-color: orange;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
}

.navbar li :hover {
    background-color: gold;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-family: Rajdhani Semibold;
    padding: 10px;
    display: block;
}
