@import "common.css";


.question > strong {
    color: var(--accent);
}

.question {
    margin: 20px 0 10px 0;
    font-family: "Outfit";
    font-weight: 300;
    font-size: 1.5rem;
}

.answer {
    margin: 0 0 20px 0;
    font-size: 20px;
    color: var(--muted);
    font-family: "Outfit";
    font-weight: 300;
}

.heading {
    color: var(--accent);
    text-align: center;
}

.content {
    padding: 18px;
    max-width: 1000px;
    margin: 0 auto;
}
